<div class="row">
    <div class="col-md-7">
        <div class="text-container">
            <div class="first-text">easier, faster, better</div>
            <div class="second-text">start managing your money <br> with us</div>
            <div class="bullet-points">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                    <li>Curabitur nisi risus, maximus nec quam a</li>
                    <li>Viverra varius ex. Integer consequat libero vel lacus fringilla tristique</li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>